.vscode
.venv
*.pyc
*.zip
# Ignore toàn bộ nội dung trong data
data/*

# Nhưng vẫn cho phép Git thấy các folder con
!data/raw/
!data/interim/
!data/processed/
!data/raw/ASL/
!data/raw/VSL/
!data/interim/ASL/
!data/interim/VSL/
!data/interim/VSL_cropped/
!data/processed/ASL/
!data/processed/VSL/

# Ignore toàn bộ file bên trong các folder data
data/raw/ASL/*
data/raw/VSL/*
data/interim/ASL/*
data/interim/VSL/*
data/interim/VSL_cropped/*
data/interim/v2/*
data/processed/ASL/*
data/processed/VSL/*
data/processed/v2/*

# Chỉ cho phép track file .gitkeep để giữ folder
!data/raw/ASL/.gitkeep
!data/raw/VSL/.gitkeep
!data/interim/ASL/.gitkeep
!data/interim/VSL/.gitkeep
!data/interim/VSL_cropped/.gitkeep
!data/interim/v2/.gitkeep
!data/processed/ASL/.gitkeep
!data/processed/v2/.gitkeep
!data/processed/VSL/.gitkeepmodels/ 

models/*

